.subheader{
    background-color: rgb(213, 204, 221);
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
    cursor: pointer;
    margin: 2px;
    height: 35px;
}